<div class="container">
	<div class="calendar">
		<header>

			<h1 class="month">{{monthNames[selectedMonth].name}} {{selectedYear}}</h1>

			<form class="cal-nav">
				<div class="select-wrapper">
					<div class="form-select">
						<select ng-model="selectedMonth" name="month" id="month" ng-options="monthName.id as monthName.name for monthName in monthNames" ng-change="refresh()"></select>
					</div>
					<div class="form-select">
						<select ng-model="selectedYear" name="year" id="year" ng-options="year as year for year in yearArray" ng-change="refresh()"></select>
					</div>
					<button ng-click="setToday()">Today</button>
				</div>
			</form>
		</header>

		<div class="calendar-body">

		<ol class="day-names">
			<li>Sunday</li>
			<li>Monday</li>
			<li>Tuesday</li>
			<li>Wednesday</li>
			<li>Thursday</li>
			<li>Friday</li>
			<li>Saturday</li>
		</ol>
		<ol class="days">
			<li ng-repeat="day in range.days" ng-class="day.dayClass">
				<div class="date">{{day.day}}</div>
			</li>
		</ol>
		</div>

	</div>


</div>